.main {
    display: flex;
    flex-direction: row;
    column-gap: 50px;
  }

.side-nav {
    margin-left: 20px;
  }
  
  .cards * {
    background-color: white;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: left;
    column-gap: 80px;
  }
  